{% extends 'layout' %}

{% block content %}
    <div class="row jumbo">
        <div class="col-sm-4">
            {{ 'main.jumbotron'|l|raw }}
        </div>
        <div class="col-sm-4">
            <i class="fa fa-camera"></i> {{ 'main.requirementsIntro'|l }}
            <ul>
                {% for requirement in 'main.requirements'|l %}
                    <li>{{ requirement }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <img src="{{ asset('assetic/gfx/douglas.png') }}" alt="{{ 'main.imageExample'|l }}"/>
        </div>
    </div>

    <div class="well text-center">
        <div class="step1 row">
            <div class="col-sm-4">
                <p><span class="fa fa-hand-pointer-o"></span> {{ 'step1.drop'|l }}</p>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i> {{ 'step1.upload'|l }}
                </button>
            </div>
            <div class="col-sm-4">
                <div class="input-group fromUrl">
                    <input type="url" class="form-control" placeholder="{{ 'step1.fromUrl'|l }}" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="fa fa-cloud-download"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="step2 col-sm-12">
            <div class="cropContainer">
                <img class="cropBox" src=""/>
            </div>
            <p>
                <button class="btn btn-default btn-xs btn-restart">
                    <span class="fa fa-refresh"></span> {{ 'step2.restart'|l }}
                </button>
                <button class="btn btn-success btn-crop">
                    <span class="fa fa-crop"></span> {{ 'step2.crop'|l }}
                </button>
            </p>
        </div>
        <div class="step3 col-sm-12 col-lg-6">
            <img class="cropResult" src=""/>
            <p>
                <a href="" class="btn btn-success btn-download">
                    <span class="fa fa-download"></span> {{ 'step3.download'|l }}
                </a>
            </p>
            <p><span class="fa fa-print"></span> {{ 'step3.print'|l }} <strong>{{ 'step3.format'|l }}</strong></p>
            <p><span class="fa fa-scissors"></span> {{ 'step3.cut'|l }}</p>
        </div>
    </div>
{% endblock %}
