<!DOCTYPE html>
<html lang="{{ app.locale.language }}">
<head>
    <meta charset="utf-8">
    <title>{{ 'main.name'|l }} – {{ 'main.slogan'|l }}</title>
    <meta name="description" content="{{ 'main.description'|l }}" />
    <meta name="keywords" content="{{ 'main.keywords'|l }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset(assets.css) }}"/>
    <link rel="shortcut icon" href="{{ asset('assetic/gfx/favicon.png') }}" />
</head>
<body>
<div class="container">
    <header>
        <h1>
            <span class="fa fa-crop"></span> {{ 'main.name'|l }}
            <br class="hidden-md hidden-lg"/>
            <small>{{ 'main.slogan'|l }}</small>
        </h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <ul class="text-center">
            <li><span class="fa fa-user"></span> Andrzej Prusinowski</li>
            <li><a href="http://avris.it" target="_blank"><span class="fa fa-globe"></span> avris.it</a></li>
            <li><a href="https://gitlab.com/Avris/Cropper" target="_blank"><span class="fa fa-git-square"></span> Git</a></li>
        </ul>
    </footer>

</div>
<script src="{{ route('micrusjs') }}"></script>
<script src="{{ asset(assets.js) }}"></script>
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.avris.it/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '7']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
</html>