{% extends 'layout' %}

{% block content %}
    <h3>{{ 'error.header'|l({'%code%': errorCode}) }}</h3>
    <p><a href="{{ route('home') }}"><span class="fa fa-home"></span> {{ 'error.backToHome'|l }}</a></p>
{% endblock %}
