main
  .jumbo
    margin: 36px auto
    ul
      padding-left: 30px
    img
      width: 100%
  .well
    overflow: auto
    .step1
      margin: 0
      padding: 16px
      p
        margin-top: 1.0em
      .btn-success
        padding: 14px 28px
      .input-group
        margin-top: 0.6em
      &.dragover
        border: 2px dashed black
        padding: 14px

    .step2
      display: none
      .cropContainer
        width: 100%
        max-width: 400px
        margin: 16px auto
        text-align: center
        img.cropBox
          width: 100%
    .step3
      display: none
      img.cropResult
        width: 100%
        max-width: 400px
        border: 1px solid #000
        margin: 16px auto
  .alert
    max-width: 400px
    margin: 16px auto

footer
  margin-top: 72px
  font-size: 0.9em
  ul
    display: inline-block
    list-style-type: none
    padding: 0
    margin: 36px 0
    width: 100%
    li
      position: relative
      display: inline
      vertical-align: middle
      &:before
        content: " "
        margin: 0 16px
      &:first-child:before
        content: " "
        margin: 0
  &.fixed
    position: fixed
    bottom: 0
    left: 0
    width: 100%